{{tfDoNotEditStamp}}

{{range .QueueApps -}}
module "app-{{hclident .Queue}}" {
  source  = "Automatic/taskhawk-queue/aws"
  version = "~> {{TFAWSQueueModuleVersion}}"

  queue          = "{{.Queue}}"
  {{ with iam -}}
    iam = "true"
  {{- end }}
  {{ with alerting -}}
    alerting = "true"
  {{- end }}
  {{ with .Schedule -}}
    enable_scheduler = "true"
    aws_region       = "${var.aws_region}"
    aws_account_id   = "${var.aws_account_id}"
  {{- end}}

  {{with .Tags -}}
  tags = {{hclvalue .}}
  {{- end}}

  {{if alerting -}}
      dlq_alarm_high_message_count_actions   = {{ hclvalue actions.DLQAlertAlarmActions }}
      dlq_ok_high_message_count_actions      = {{ hclvalue actions.DLQAlertOKActions }}
      queue_alarm_high_message_count_actions = {{ hclvalue actions.QueueAlertAlarmActions }}
      queue_ok_high_message_count_actions    = {{ hclvalue actions.QueueAlertOKActions }}

      {{ with or .HighMessageCountThresholds.default highMessageCountThreshold -}}
        queue_alarm_high_message_count_threshold = {{.}}
      {{- end}}
      {{ with or .HighMessageCountThresholds.high highMessageCountThreshold -}}
        queue_alarm_high_priority_high_message_count_threshold = {{.}}
      {{- end}}
      {{ with or .HighMessageCountThresholds.low highMessageCountThreshold -}}
        queue_alarm_low_priority_high_message_count_threshold = {{.}}
      {{- end}}
      {{ with or .HighMessageCountThresholds.bulk highMessageCountThreshold -}}
        queue_alarm_bulk_high_message_count_threshold = {{.}}
      {{- end}}
  {{- end}}
}
{{- end}}

{{range .LambdaApps -}}
module "app-{{hclident .Name}}" {
  source  = "Automatic/taskhawk-lambda/aws"
  version = "~> {{TFAWSLambdaModuleVersion}}"

  name               = "{{.Name}}"
  function_arn       = "{{.FunctionARN}}"
  function_name      = "{{.FunctionName}}"
  {{with .FunctionQualifier -}}
    function_qualifier = "{{.}}"
  {{- end}}
}
{{- end}}
