{{tfDoNotEditStamp}}

{{define "SchedulerHelper" -}}
  {{with .Description -}}
  description = "{{.}}"
  {{- end}}

  {{with .FormatVersion -}}
  format_version = "{{.}}"
  {{- end}}

  {{with .Headers -}}
  headers = {{hclvalue .}}
  {{- end}}

  task    = "{{.Task}}"
  {{with .Args -}}
  args    = {{hclvalue .}}
  {{- end}}
  {{with .Kwargs -}}
  kwargs  = {{hclvalue .}}
  {{- end}}

  schedule_expression = "{{.ScheduleExpression}}"
{{end}}

{{range $q := .QueueApps -}}
{{range .Schedule -}}
module "scheduler-{{hclident $q.Queue}}-{{hclident .Name}}" {
  source  = "Automatic/taskhawk-scheduler/aws"
  version = "~> {{TFAWSSchedulerModuleVersion}}"

  queue       = "${module.app-{{hclident $q.Queue}}.default_queue_arn}"
  name        = "{{hclident $q.Queue}}-{{.Name}}"
  {{template "SchedulerHelper" .}}
}
{{- end}}
{{- end}}

{{range $l := .LambdaApps -}}
{{range .Schedule -}}
module "scheduler-{{hclident $l.Name}}-{{hclident .Name}}" {
  source  = "Automatic/taskhawk-scheduler/aws"
  version = "~> {{TFAWSSchedulerModuleVersion}}"

  topic       = "${module.app-{{hclident $l.Name}}.sns_topic_default_arn}"
  name        = "{{hclident $l.Name}}-{{.Name}}"

  function_name      = "{{$l.FunctionName}}"
  {{ with $l.FunctionQualifier -}}
    function_qualifier = "{{.}}"
  {{- end}}

  {{template "SchedulerHelper" .}}
}
{{- end}}
{{- end}}
